@import "tailwindcss";

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #0b0b0f;
  color: white;
}

.gold-text {
  color: #d4af37;
}

.gold-bg {
  background: linear-gradient(135deg, #d4af37, #ffdf70);
}

.glass {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(212, 175, 55, 0.2);
}

.btn-gold {
  background: linear-gradient(135deg, #d4af37, #ffdf70);
  color: black;
  padding: 10px 18px;
  border-radius: 10px;
  font-weight: 600;
}